<script id="entry-template0" type="text/x-handlebars-template">
<div class="entry">
  <h1>{{title}} handlebar template 0</h1>
  <div class="body">
    {{body}}
  </div>
  <p><a class="btn btn-primary btn-large">Test bootstrap alert component and font awesome &raquo;</a></p>
</div>
</script>

<script id="entry-template1" type="text/x-handlebars-template">
<div class="entry">
  <h1>{{title}} 1</h1>
  <div class="body">
    {{body}}
  </div>
  <p><a class="btn btn-primary btn-large">Test bootstrap alert component and font awesome &raquo;</a></p>
</div>
</script>