

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, san;
}

nav {
	position: fixed;
  	top: 0;
	width: 320px;
	height: 100%;
	background: #2f2f2f url(http://subtlepatterns.com/patterns/low_contrast_linen.png) repeat 0 0;
	margin-left: -260px;
	-webkit-transition: margin .2s ease-out;
	-moz-transition: margin .2s ease-out;
	transition: margin .2s ease-out;
	z-index: 2;
	overflow: hidden;
  	box-shadow: inset -3px 0 5px rgba(0,0,0,.5);
  	/* overflow-y: scroll; */
}

nav:hover {
	-webkit-transition: margin .2s ease-in;
	-moz-transition: margin .2s ease-in;
	transition: margin .2s ease-in;
	margin-left: 0;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: block;
}

nav ul li a {
	display: block;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.1);
	padding: 20px;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

nav ul li a:hover, nav ul li a.current {
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

nav ul li a.current:before {
	content: ''; 
	display: block; 
	position: absolute; 
	top: 2.85em; 
	right: -7px; 
	width: 10px; 
	height: 10px; 
	background: #FFF; 
	border-left: 1px solid #FFF; 
	border-top: 1px solid #FFF; 
	-moz-transform: rotate(-45deg); 
	-webkit-transform: rotate(-45deg); 
	transform: rotate(-45deg);
}

nav ul li:last-child a {
	margin-bottom: 0;
}

nav:hover ul li a {
	/* -webkit-animation: fade 2s; */
}

@-webkit-keyframes 'fade' {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

nav ul li a .icon {
	font-family: 'Raphael-Icons', sans-serif;
	font-size: 4em;
	color: #fff;
	display: block;
	float: right;
	text-shadow: 0 -1px 0 #000;
}

nav:hover ul li a .icon {
	/* float: left; */
}

nav ul li a:hover .icon {
	color: #00B9F4;
}

nav ul li a span:last-child {
	float: left;
	display: block;
	margin-right: 10px;
	color: #fff;
	padding: 1.35em 1em;
  	text-shadow: 0 -1px 0 #000;
}

nav:hover ul li a span:last-child {
	margin: 0 10px 0 0;
}

.content {
	position: relative;
	min-width: 850px;
	z-index: 1;
	margin: 20px 0 0 110px;
	padding-right: 20px;
}

.content h1 {
	font-size: 4em;
	font-weight: 300;
	margin-bottom: 1em;
}

.content p {
	font-size: 2em;
	line-height: 1.6em;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }