

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, san;
}

nav {
	position: fixed;
  	top: 0;
	width: 320px;
	height: 100%;
	background: #2f2f2f url(http://subtlepatterns.com/patterns/low_contrast_linen.png) repeat 0 0;
	margin-left: -260px;
	-webkit-transition: margin .2s ease-out;
	-moz-transition: margin .2s ease-out;
	transition: margin .2s ease-out;
	z-index: 2;
	overflow: hidden;
  	box-shadow: inset -3px 0 5px rgba(0,0,0,.5);
  	/* overflow-y: scroll; */
}

nav:hover {
	-webkit-transition: margin .2s ease-in;
	-moz-transition: margin .2s ease-in;
	transition: margin .2s ease-in;
	margin-left: 0;
}

.content {
	position: relative;
	min-width: 850px;
	z-index: 1;
	margin: 20px 0 0 110px;
	padding-right: 20px;
}

.content h1 {
	font-size: 4em;
	font-weight: 300;
	margin-bottom: 1em;
}

.content p {
	font-size: 2em;
	line-height: 1.6em;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }